.connect-wallet-btn {
  background: transparent;
  padding: 0.85rem 1.4rem;
  display: inline-flex;
  align-items: center;
  border: none;
  color: #fff;
  font-size: var(--font-sm);
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid var(--dark-blue-border);
  border-radius: var(--border-radius-sm);

  .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .btn-label {
    font-weight: 400;
    font-size: var(--font-sm);
    letter-spacing: 0;
    margin-left: 0.8rem;
  }

  &:not([disabled]):hover {
    background: var(--dark-blue-hover);
  }

  &:not([disabled]):active {
    background: var(--dark-blue-active);
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.connect-wallet-btn-connecting {
  &:not([disabled]):hover {
    background: rgba(129, 57, 57, 0.6) !important;
    opacity: 0.8;
  }

  &:not([disabled]):active {
    background: rgba(129, 57, 57, 0.6) !important;
    opacity: 0.8;
  }
}

@media (max-width: 450px) {
  .connect-wallet {
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 350px) {
  .connect-wallet-btn {
    height: 3.6rem;

    .btn-icon {
      display: none;
    }

    .btn-label {
      margin-left: 0px;
    }
  }
}