.Governance-layout {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  padding-bottom: calc(4.65rem + 20rem);
  padding-top: 4.65rem;
}

.Governance-content {
  display: flex;
  justify-content: space-between;
}

.Governance-box {
  max-width: 47.95rem;
  width: 100%;
}

.Governance-box textarea {
  font-family: "RelativeNumber";
  font-size: 2rem;
  height: auto !important;
  color: white;
  outline: none;
  background: none;
  border: none;
  white-space: pre-wrap;
  resize: none;
  overflow-wrap: break-word;
}

.Instruction-card {
  flex: 1;
  max-width: 71.2rem;
  margin-right: 1.5rem;

  .Tooltip-popup {
    min-width: 30rem;
  }
}

.Instruction-card .App-card-row .label {
  color: #a9a9b0;
  opacity: 1;
  min-width: max-content;
}

.InstructionBox {
  border-radius: 0.4rem;
  padding: 1.5rem;
}

.InstructionBox-form-layout {
  display: flex;
  flex-direction: column;
}

.InstructionTextArea {
  padding: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}